.highlight {
  margin-bottom: 30px;
  padding: 1rem;
  line-height: 2;
  box-sizing: border-box;
  background-color: #282a36;
}

.highlight code {
  background-color: inherit;
  box-sizing: inherit;
  padding: 0;
  color: inherit;
}