@media screen and (max-width: 64em) {
    html {
        font-size: 62.5%;
    }
}

@media screen and (max-width: 55em) {
    html {
        font-size: 50%;
    }
}

@media screen and (max-width: 30em) {
    html {
        font-size: 40%;
    }
}