<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}
<body>
<header class="header">
    <div class="header__content">
        <a href="{{ .Site.BaseURL }}" title="Home" class="header__title">
            <img alt="Kilian SMITI" class="header__avatar" src="{{ .Site.BaseURL }}/images/avatar.jpeg"/>
            <div class="header__chevron">›</div>
            <div class="header__logo">
                <div class="logo">
                    KILIAN SMITI<span>.</span>
                </div>
                <div class="logo-desc">
                    <p class="logo-desc__text">I'm a <i id="logo-desc"></i></p>
                    <span></span>
                </div>
            </div>
        </a>
        <nav class="header__navigation">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
            {{ $active := (eq .Name $currentPage.Title) }}
            {{ $active = or $active (and (eq .Identifier "blog") (eq $currentPage.Section "post")) }}
            {{ $active = or $active (and (eq .Identifier "blog") (eq $currentPage.Title "")) }}
            {{ $active = or $active (and (eq .Name "Tags") (eq $currentPage.Section "tags")) }}
            <a title="{{ .Name }}"
               href="{{ .URL }}"
               class="navigation__item {{ if $active }}active{{ end }}"
            >{{ .Name }}</a>
            {{ end }}
        </nav>
    </div>
</header>