</article>
<aside class="blog__finder">
    <section class="block aside__text">
        <p class="aside__text-title">Welcome to my portfolio 👋</p>
        <p class="aside__text-p">You will find here articles on all and nothing, even if my primary theme is web technologies.</p>
        <p class="aside__text-p">You will probably also find a lot of writing mistakes.. I'm not dyslexic, I'm just a french trying to write in english (yeah it's same 👻)</p>
        <p class="aside__text-p">If you are interesed in a particular topic, take a look at the series or tags below.</p>
    </section>
    <section class="block aside__text">
        <h2 class="block__title">Series</h2>
        <ul class="aside__list">
            {{ range .Site.Taxonomies.series }}
            <li>
                <a href="{{ .Page.Permalink }}">
                    <span class="tag-article__content">{{ .Page.Title }}</span>
                </a>
            </li>
            {{ end }}
        </ul>
    </section>
    <section class="flex-wrap-center">
        {{ range .Site.Taxonomies.tags }}
        <a href="{{ .Page.Permalink }}" class="article__tag">
            <button class="article__btn tag__btn">{{ .Page.Title }}</button>
        </a>
        {{ end }}
    </section>
</aside>
</main>
</div>
{{ partial "footer.html" . }}
