{{ partial "index_top.html" . }}
<section class="block aside__text">
    <h2 class="articles__title">Hey, can you describe yourself ?</h2>
    <p class="aside__text-p">
        I'm Kilian Smiti, I was born in Paris, in 1998. I'm passionate about web technologies since my childhood.
        I started building websites when I was ten year old and I decided to make it my job.
    </p>
</section>
<section class="block aside__text">
    <h2 class="articles__title">And what do you do in life ?</h2>
    <p class="aside__text-p">
        I'm a Full-Stack Developer for Free (Iliad), one of the main French telecommunications operators.
        I work on many internal applications, whether it is on invoicing tools, or civil engineering management tools,
        I have no trouble getting to grips with a subject.
    </p>
</section>
<section class="block aside__text">
    <h2 class="articles__title">What is your stack ?</h2>
    <p class="aside__text-p">
        I started my adventure with the most basic stack : PHP/HTML/CSS, then javascript made its entry,
        I'm stayed long time with this, without framework or library or something like that, I was a « from scratch » player.
    </p>
    <p class="aside__text-p">
        Currently, I master front-end langages like HTML, CSS (with pre-processor like Sass), Javascript and some framework like Vue.js and React.
        For back-end langages, I master Golang, PHP, Node.js and some framework specialy in PHP like Symfony and Laravel.
    </p>
</section>
{{ partial "index_bottom.html" . }}
